@import '../../../styles/environment';

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  }
  .background {
    width: 100%;
    position: relative;

    img {
      width: 100%;
      }
    }
    .backgroundLogo {
      width: 86px;
      height: 51px;
      position: absolute;
      top: 32px;
      left: 16px;
      }

  .main {
    width: 100%;
    min-height: 144px;
    position: relative;
    margin: -41px 0 0 0;
    padding: 0 16px;
    }
    .mainBox {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 0 12px 12px 12px;
      border-radius: $borderRadius;
      background-color: #fff;
      box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px 0px;
      }
      .mainTitle {
        width: 100%;
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 4px;
        border-bottom: 0.7px solid rgba(51, 55, 61, 0.16);
        font-size: 14px;
        font-weight: bold;

        h2 {
          font-size: inherit;
          }
        }

      .mainActionsContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
        grid-template-rows: repeat(1, 77px);
        gap: 1rem;
        grid-auto-flow: dense;
        }
