
.container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);

  &.gohow {
    animation: modal_container_show 0.3s ease 0s;
    }
  &.goHide {
    animation: modal_container_go_hide 0.3s ease 0s forwards;
    }
  }
  @keyframes modal_container_show {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
  }
  @keyframes modal_container_go_hide {
    0% {opacity: 1.0}
    100% {opacity: 0.0}
  }

  .box {
    min-width: 100px;
    max-width: 100vw;
    min-height: 100px;
    max-height: 100vh;
    background-color: #fff;

    &.show {
      animation: modal_box_show 0.3s ease 0s;
      }
    &.goHide {
      animation: modal_box_go_hide 0.3s ease 0s forwards;
      }
    }
    @keyframes modal_box_show {
      0% {transform: translateY(100%)}
      100% {transform: translateY(0)}
    }
    @keyframes modal_box_go_hide {
      0% {transform: translateY(0)}
      100% {transform: translateY(100%)}
    }