
.container {
  min-width: 70px;
  height: 77px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  filter: grayscale(100%);

  img {
    width: 40px;
    height: 40px;
    }

  h5 {
    width: 100%;
    margin: 0;
    font: inherit;
    font-size: 12px;
    text-align: center;
    color: rgb(72, 76, 82);
    }

  &.enabled {
    filter: none;
    }
  }