@import '../../../../styles/environment';

.container {
  min-width: 100vw;
  height: 100vh;
  background-color: #fff;
  }
  .header {
    width: 100%;
    height: 48px;
    }
    .closeButton {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 28px;
        color: $colorBlack;
        }
      }

  .searchBox {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px $colorGray;

    input {
      flex: 1;
      margin: 0 24px 0 0;
      padding: 0;
      border: none;
      outline: none;
      font-size: 18px;

      &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #A3A3A3;
        opacity: 1; /* Firefox */
        }
      &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #A3A3A3;
        }
      &::-ms-input-placeholder { /* Microsoft Edge */
        color: #A3A3A3;
        }      
      }
    }
    .searchButton {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 28px;
        color: #A3A3A3;
        }
      }

    .clearButton {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 28px;
        color: #A3A3A3;
        }
      }

  .list {
    width: 100%;
    height: calc(100% - 48px - 48px);
    padding: 0 24px;
    overflow: auto;
    }
    .item {
      width: 100%;
      padding: 16px 0;
      display: flex;
      flex-direction: row;

      &.borderBottom {
        border-bottom: solid 1px #F2F2F2;
        }
      }
      .itemIcon {
        width: 20px;

        i {
          margin: 4px 0 0 0;
          font-size: 20px;
          color: $colorBlack;
          }
        }

      .itemMain {
        flex: 1;
        margin: 0 16px 0 0;
        }
        .itemName {
          width: 100%;
          height: 50%;
          font-size: 17px;
          }

        .itemAirport {
          width: 100%;
          height: 50%;
          padding: 2px 0 0 0;
          font-size: 14px;
          font-weight: 300;
          color: #404040;
          }