@import '../../../styles/environment';

.container {
  min-height: 100vh;
  padding: 0 24px 20px 24px;
  background-color: #fff;

  h2 {
    font-size: 22px;
    padding: 16px 0;
    }
  }
  .header {
    width: 100%;
    height: 48px;
    }
    .backButton {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      i {
        font-size: 32px;
        color: $colorBlack;
        }
      }

  .cover {
    width: 100%;
    height: 111px;
    position: relative;
    margin: 0 0 16px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

  .waySwitch {
    width: 100%;
    height: 42px;
    display: flex;
    flex-direction: row;
    margin: 12px 0 0 0;
    border: solid 1px $colorGray;
    border-radius: $borderRadius;
    font-size: 14px;
    color: #A3A3A3;
    }
    .way {
      flex: 1;
      margin: -1px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 2px transparent;
      border-radius: $borderRadius;
      transition: all $animationDuration $animationTimingFunction;

      &.active {
        border: solid 2px #22A958;
        color: #22A958;
        }
      }

  .addressBox {
    width: 100%;
    height: 112px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    border: solid 1px $colorGray;
    border-radius: $borderRadius;
    }
    .addressesContainer {
      flex: 1;
      position: relative;

      &::after {
        content: '';
        width: 0;
        height: 41px;
        position: absolute;
        top: 35px;
        right: 19px;
        border-right: 1px dashed #E6E6E6;
        border-left: 1px dashed #E6E6E6;
        }
      }
      .address {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: row;
        }
        .addressIcon {
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 16px;
            color: $colorBlack;
            }

          &.green {
            i { color: #00d170; }
            }
          }

        .addressText {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-size: 17px;
          color: $colorBlack;

          &.placeholder {
            color: #A3A3A3;
            }

          &.borderBottom {
            border-bottom: solid 1px $colorGray;
            }
          }

    .addressSwitchButton {
      width: 48px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 24px;
        color: $colorBlack;
        }
      }

  .dateBox {
    width: 100%;
    height: 56px;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    border: solid 1px $colorGray;
    border-radius: $borderRadius;
    }
    .dateIcon {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        font-size: 16px;
        color: $colorBlack;
        }
      }

    .dateMain {
      flex: 1;
      }
      .dateTitle {
        width: 100%;
        height: 45%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        font-size: 12px;
        color: #A3A3A3;
        }

  .passengerValue {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 17px;
    color: $colorBlack;
    }

    .passengerBox {
      width: 100%;
      height: 56px;
      margin: 20px 0 0 0;
      display: flex;
      flex-direction: row;
      border: solid 1px $colorGray;
      border-radius: $borderRadius;
      }
      .passengerIcon {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
  
        i {
          font-size: 16px;
          color: $colorBlack;
          }
        }
  
      .passengerMain {
        flex: 1;
        }
        .passengerTitle {
          width: 100%;
          height: 45%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          font-size: 12px;
          color: #A3A3A3;
          }
  
        .passengerValue {
          width: 100%;
          height: 55%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          font-size: 17px;
          color: $colorBlack;
          }

  .submit {
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
    background-color: $colorPrimary;
    border-radius: $borderRadius;
    font-size: 17px;
    color: #fff;
    }