@import-normalize;

html,
body {
  width: 100%;
	height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 147, 138);
  font-family: IRANSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  }

input, textarea {
	font-family: IRANSans;
	}

a {
  color: inherit;
  text-decoration: none;
  }

* {
  box-sizing: border-box;
  }
